::-webkit-scrollbar {
  display: none;
}

.head {
  justify-content: center;
  margin-top: 100px;
}

.portraitHead {
  margin-top: 120px;
}

.heading {
  color: #4ce95a;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'Poppins', Arial, sans-serif;
}

.content {
  width: 75%;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  flex-flow: column;
}

.portraitContent {
  width: 100%;
  margin-top: 50px;
  flex-flow: column;
}

.subHeading {
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  letter-spacing: 1px;
  font-family: 'Poppins', Arial, sans-serif;
}

.portraitSubheading {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  font-family: 'Poppins', Arial, sans-serif;
}

.termsHeading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', Arial, sans-serif;
}

li {
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', Arial, sans-serif;
}

.terms {
  width: 75%;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  flex-flow: column;
}

.portraitTerms {
  width: 95%;
  margin: auto;
  margin-top: 50px;
}
