.citiesName {
  color: rgb(76, 233, 90);
  font-size: 32px;
  margin-bottom: 15px;
  margin-right: 8px;
  font-weight: 600;
  display: inline-block;
}

.citiesImg ,.weatherImg {
  height: 40px;
  margin-bottom: -3px;
}

.weatherImgMobile {
  height: 40px;
  // margin-bottom: -3px;
}

.citiesContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.mobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 15px;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(76, 233, 90);
  font-size: 20px;
  font-weight: 600;
  gap: 15px;
}

.mobileWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(76, 233, 90);
  font-size: 20px;
  font-weight: 600;
  gap: 8px;
}