input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3d3d3d inset !important;
  -webkit-text-fill-color: #fff;
}

.eventSchedule {
  margin-top: 25px;
  color: #fff;
}

.mobileEventSchedule {
  margin-top: 22px;
  width: 105% !important;
  flex-flow: column;
}

.eventDetails,
.eventPlayersDetail {
  margin-left: 20px;
}

.mobileEventDetails,
.mobileEventPlayersDetail {
  margin-left: 0px;
}

.mobileEventPlayersDetail {
  margin-bottom: 10px;
  position: relative;
}

.locationIcon {
  margin-left: 15px;
  margin-bottom: -3px;
  color: #fff;
}

.whatsappGroupIcon {
  margin-left: 15px;
  margin-bottom: -4.5px;
  color: #fff;
}

.title {
  color: #4ce95a;
  font-size: 18px;
  font-weight: bold;
}

.title span {
  color: #fff;
  margin-left: 15px;
}

.currencyIcon {
  font-size: 22px;
  margin-bottom: -4px;
}

.joinNow {
  margin-bottom: 0px;
  margin-top: 5px;
}

.joinNow Button {
  width: 80%;
  margin: auto;
  background: #4ce95a !important;
  color: black;
}

.lock {
  font-size: 20px;
  transition: color 0.2s;
  color: #fff;
  text-align: center;
}

.lock:hover {
  color: #4ce95a;
}

.payViaUpi,
.payViaCard {
  margin-right: 30px !important;
}

.paymentOptions {
  justify-content: space-between;
}

.paymentOptionsPortrait {
  width: 100%;
  margin-left: 7px;
  position: relative;
  gap: 0.7rem;
  margin-bottom: 10px;
}

.cancel,
.pay {
  color: black;
  border: 1px solid #4ce95a;
  background: #4ce95a;
  font-weight: 600;
}

.cancel:hover,
.pay:hover {
  color: #4ce95a;
  border: 1px solid #4ce95a;
}

label {
  color: #fff !important;
}

.multipleSlotsText {
  font-size: 15px;
  padding-top: 0px;
}

.playersNumber {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.playerInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
}
