input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3d3d3d inset !important;
  -webkit-text-fill-color: #fff;
}

.eventSchedule {
  margin-top: 25px;
  color: #fff;
}

.mobileEventSchedule {
  margin-top: 22px;
  width: 105% !important;
}

.eventDetails,
.eventPlayersDetail {
  margin-left: 20px;
}

.mobileEventDetails,
.mobileEventPlayersDetail {
  margin-left: 0px;
}

.mobileEventPlayersDetail {
  margin-bottom: 10px;
}

.locationIcon {
  margin-left: 15px;
  margin-bottom: -3px;
  color: #fff;
}

.title {
  color: #4ce95a;
  font-size: 18px;
  font-weight: bold;
}

.title span {
  color: #fff;
  margin-left: 15px;
}

.currencyIcon {
  font-size: 22px;
  margin-bottom: -4px;
}

.joinNow {
  margin-bottom: 0px;
  margin-top: 5px;
}

.joinNow Button {
  width: 80%;
  margin: auto;
  background: #4ce95a !important;
  color: black;
}

.lock {
  font-size: 20px;
  transition: color 0.2s;
}

.lock:hover {
  color: #4ce95a;
}

.payViaUpi {
  margin-right: 10px !important;
}

.payViaCard {
  margin-left: 10px !important;
}

.paymentOptions {
  width: 25%;
  justify-content: space-between;
  position: relative;
}

.paymentOptionsPortrait {
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.cancel,
.pay {
  color: #606264;
}

.cancel:hover,
.pay:hover {
  color: #fff;
}

label {
  color: #fff !important;
}
