.playerName {
  margin: 30px 0px 30px 0px;
}

.addButton {
  margin-top: 30px;
  float: right;
}

.adminModePanel {
  display: flex;
}

.verifyPhoneNumber {
  position: absolute;
  top: 18px;
  right: 18px;
  font-weight: 600;
  cursor: pointer;
}

.verifyOtp {
  margin-top: 30px;
}
