.avatar {
  margin-right: 15px;
}

.personAvatar {
  height: 43px;
  width: 43px;
  margin-right: 9px;
  margin-left: -3px;
}

.grid {
  display: flex;
  align-items: center;
}

.playerNames {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
