.avatar {
  height: 30px;
  width: 30px;
}

.personAvatar {
  height: 26px;
  width: 26px;
  margin-right: 9px;
  margin-left: -3px;
}

.portraitGrid {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 6px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.playerNames {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.addIcon {
  height: 40px;
  width: 40px;
  margin-right: 9px;
  margin-left: -3px;
}

.profilePic {
  //border: 1.5px solid #4ce95a;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
