::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../../../otf/MontserratAlt1-Medium.otf') format('opentype');
}

.box {
  flex-flow: column;
  height: 95vh;
}

.ourStory {
  display: block;
  padding: 15px 15px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  font-family: 'CustomFont', Arial, sans-serif;
}

.journey {
  color: #4ce95a;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 0.5px;
  font-family: 'CustomFont', Arial, sans-serif;
}

.motto,
.description,
.aim {
  width: 40%;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'CustomFont', Arial, sans-serif;
}

.motto,
.mobileMotto {
  margin-top: 20px;
}

.description,
.mobileDescription {
  margin-top: 15px;
}

.aim,
.mobileAim {
  margin-top: 25px;
  margin-bottom: 50px;
}

.mobileMotto,
.mobileDescription,
.mobileAim {
  width: 85%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'CustomFont', Arial, sans-serif;
  margin-left: 7.5%;
}
