::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;
  margin-top: 64px;
  margin-bottom: -30px;
}

.leftSide {
  flex: 6;
  overflow: hidden;
  position: relative;
}

.portraitLeftSide {
  display: none;
}

.leftSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.rightSide,
.portraitRightSide {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
}

.portraitRightSide {
  margin-top: -70px;
}

.loginContainer,
.portraitLoginContainer {
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: slideIn 0.8s ease-out;
}

.portraitLoginContainer {
  width: 90%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sportsIconSection {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sportsIcon {
  color: #4ce95a;
  font-size: 35px;
}

.loginSignupText {
  font-size: 30px;
  font-weight: 500;
  color: #4ce95a;
  font-family: 'Poppins', Arial, sans-serif;
}

.getStarted {
  font-size: 28px;
  font-weight: 600;
  padding-top: 20px;
  font-family: 'Poppins', Arial, sans-serif;
}

.signUpImmediately {
  padding-top: 20px;
  font-weight: 500;
  font-family: 'Poppins', Arial, sans-serif;
}

.loginSignupButton {
  margin-top: 30px;
  margin-bottom: 5px;
}

.googleLoginButton,
.emailLoginButton,
.portraitEmailLoginButton,
.portraitGoogleLoginButton {
  background-color: transparent;
  color: #4ce95a;
  border: 1px solid #4ce95a;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  height: 55px;
  max-width: 100%;
  margin-bottom: 10px;
  font-family: 'Poppins', Arial, sans-serif;
}

.portraitGoogleLoginButton {
  max-width: 100%;
}

.googleLoginButton:hover,
.portraitGoogleLoginButton:hover {
  background: #4ce95a;
  color: black;
  transition: all 0.4s ease;
}

.loginDivider {
  width: 90%;
  border-top: 1px solid #606264;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.loginOption {
  margin-top: -12px;
  background-color: #111;
  font-weight: 600;
  padding: 0px 8px;
  font-family: 'Poppins', Arial, sans-serif;
  letter-spacing: 1px;
}

.emailSignup {
  display: flex;
  flex-flow: column;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  animation: slideIn 0.6s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.emailField,
.passwordField {
  margin-bottom: 35px;
}

.emailLoginButton,
.portraitEmailLoginButton {
  margin-left: 5px;
}

.signupText {
  text-decoration: underline;
  color: #606264;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
}
