.box {
  height: 100vh;
}

.container {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  align-items: center;
}

.smallDeviceContainer {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  align-items: center;
}

.logo {
  height: 48px;
}

.job {
  font-weight: 500;
  margin-top: 20px;
  font-size: 19px;
}

.stats {
  margin-top: 35px;
  margin-bottom: 50px;
}

.mobileStats {
  width: 390px;
  margin-top: 35px;
  margin-bottom: 80px;
}
