::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.mobile_container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.accordion {
  background: #1a1919;
  margin-bottom: 35px;
}

.mobileAccordion {
  margin-bottom: 20px;
}

.flexbox {
  flex-flow: column;
  width: 100%;
} 

//Event Schedule styles
.eventSchedule {
  margin-top: 25px;
  color: #fff;
}

.mobileEventSchedule {
  margin-top: 22px;
  width: 105% !important;
}

.eventSection1, .eventSection2 {
  margin-left: 20px;
}

.mobileEventSection1, .mobileEventSection2 {
  margin-left: 0px;
}

.mobileEventSection2 {
  margin-bottom: 10px;
}

.locationIcon {
  margin-left: 15px;
  margin-bottom: -3px;
  color: #fff;
}

.citiesName {
  color: rgb(76, 233, 90);
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 600;
}

.citiesName img {
  height: 40px;
}

.venue {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.venue Button {
  background: #4CE95A !important;
  color: black;
}

.venueName {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.mobileVenueName {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sportsIcon {
  margin-right: 5px;
  color: #4CE95A;
}

.box {
  margin-top: 20px;
  margin-left: 25px;
}

.joinNow {
  width: 80%;
  margin: auto;
}

.title {
  color: #4CE95A;
  font-size: 18px;
  font-weight: bold;
}

.grid {
  display: flex;
  align-items: center;
}

.title span {
  color: #fff;
  margin-left: 15px;
}

.currencyIcon {
  font-size: 22px;
  margin-bottom: -4px;
}

.avatar, .accountIcon {
  margin-right: 15px;
}

.accountIcon {
  font-size: 42px;
}

.playerNames {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.reserved, .unReserved {
  color: #4CE95A;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.footer {
  height: 40px;
  text-align: center;
  font-size: 19px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #4CE95A;
  font-weight: 600;
}
