.logo {
  height: 42px;
}

.menuItem {
  color: #4CE95A;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.link {
  text-decoration: none;
  color: #4CE95A;
}

.menuItem::after {
  content: '';
  width: 0;
  height: 1px;
  background: #4CE95A;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.menuItem:hover::after {
  width: 100%;
}

.menuItem:hover {
  transform: translateY(-3px);
}

.divider {
  margin-left: 20px;
  margin-right: 20px;
}
