.box {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #111;
  width: 100%;
}

.logo {
  height: 42px;
}

.menuItem {
  color: #4ce95a;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.link {
  text-decoration: none;
  color: #4ce95a;
}

.menuItem::after {
  content: '';
  width: 0;
  height: 1px;
  background: #4ce95a;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.menuItem:hover::after {
  width: 100%;
}

.menuItem:hover {
  transform: translateY(-3px);
}

.divider {
  margin-left: 20px;
  margin-right: 20px;
}
