::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat Alt 1', sans-serif;
  font-weight: 600;
}

.title {
  font-size: 36px;
  color: #4ce95a;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.mobileContainer {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.accordion {
  background: #1a1919;
  margin-bottom: 35px;
}

.mobileAccordion {
  margin-bottom: 20px;
}

.flexbox {
  flex-flow: column;
  width: 100%;
}

.venue {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.venue Button {
  background: #4ce95a !important;
  color: black;
}

.venueName {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.mobileVenueName {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sportsIcon {
  margin-right: 5px;
  color: #4ce95a;
}

.box {
  margin-top: 20px;
  margin-left: 25px;
}

.reservedPlayers,
.waitListPlayers {
  color: #4ce95a;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.skeletonContainer {
  margin-top: 30px;
}

.skeleton {
  margin-left: 10% !important;
  width: 80%;
  height: 150px;
  margin-bottom: 20px !important;
}

.mobileSkeleton {
  margin-left: 5% !important;
  width: 90%;
  height: 295px;
  margin-bottom: 20px !important;
}

.teamDivision,
.teamDivisionSecond {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
  justify-content: left;
}

.colorFirst,
.colorSecond,
.colorThird,
.colorFourth {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.colorFirst {
  background: rgb(197, 43, 68);
}

.colorSecond {
  background: rgb(16, 16, 134);
}

.colorThird {
  background: rgb(16, 134, 32);
}

.colorFourth {
  background: rgb(190, 181, 181);
}

.versus {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
