::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.mobileContainer {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.accordion {
  background: #1a1919;
  margin-bottom: 35px;
}

.mobileAccordion {
  margin-bottom: 20px;
}

.flexbox {
  flex-flow: column;
  width: 100%;
} 

.venue {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.venue Button {
  background: #4CE95A !important;
  color: black;
}

.venueName {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.mobileVenueName {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sportsIcon {
  margin-right: 5px;
  color: #4CE95A;
}

.box {
  margin-top: 20px;
  margin-left: 25px;
}

.reservedPlayers, .unReservedPlayers {
  color: #4CE95A;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.footer {
  height: 40px;
  text-align: center;
  font-size: 19px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #4CE95A;
  font-weight: 600;
}
